* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
/* .active {
  background-color: #60a5fa;
  color: white;
} */
::-webkit-scrollbar {
  display: none;
}
@layer components {
  .input {
    @apply rounded-full border border-stone-200 px-4 py-2 text-sm transition-all duration-300 placeholder:text-stone-400 focus:outline-none focus:ring ring-offset-2 focus:ring-slate-600 md:px-6 md:py-3;
  }
}
